.row
  .large-4.columns.large-centered
    = form_for(@user) do |f|
      = f.text_field :name
      = f.text_field :email
      = f.text_field :address
      = f.text_field :phone
      = f.check_box :full
      .actions
        = f.submit "Update"
