.shelter
  .row
    .large-4.columns
      .row
        %h2
          #{shelter.name}
          - if shelter.full
            .alert.full-label FULL
      .row
        %strong Address:
        = shelter.address
      - unless distance.nil?
        .row
          %strong Approx distance:
          = distance['text']
      .row
        %strong Phone:
        = shelter.phone
      .row
        %strong Email:
        = shelter.email
      .row
        %strong Size:
        = shelter.size
      .row
        .donate-button
          :plain
            <script async="async" src="/paypal-button.min.js?merchant=oneamtu89-facilitator@gmail.com"
              data-button="donate"
              data-name="Donation"
              data-env="sandbox"
          ></script>
    .large-3.columns.show-for-large-up
      %span.has-tip.tip-bottom.tip-top{class: "[tip-top tip-right] [radius round]", "data-options" => "disable_for_touch:true", "data-tooltip" => "", title: "#{shelter.current_interest_level_message}"}
        .interest_level{data: {interest_percentage: shelter.current_interest_level}}
    .large-5.columns.show-for-large-up
      %a{href: gmap_link(shelter.address), target: '_blank'}
        %img{src: gmap(shelter.address)}
