.shelter
  .row
    .large-4.columns
      .row
        %h2
          #{shelter.name}
      .row
        %strong Address:
        = shelter.address
      .row
        %strong Phone:
        = shelter.phone
      .row
        %strong Email:
        = shelter.email
      .row
        %strong Size:
        = shelter.size
      .row
        #fullSwitch.button.radius.small{data: {full: "#{shelter.full}"}}
          = shelter.full ? 'Full' : 'Available'
        %a.button.success.radius.small{href: "#{printout_user_path(@user)}"} Printouts
    .large-3.columns.show-for-large-up
      %span.has-tip.tip-bottom.tip-top{class: "[tip-top tip-right] [radius round]", "data-options" => "disable_for_touch:true", "data-tooltip" => "", title: "#{shelter.current_interest_level_message}"}
        .interest_level{data: {interest_percentage: shelter.current_interest_level}}
    .large-5.columns.show-for-large-up
      %a{href: gmap_link(shelter.address)}
        %img{src: gmap(shelter.address)}

:javascript
  $(function()
  {
    if($("#fullSwitch").data('full'))
    {
      $("#fullSwitch").addClass('alert');
    }
    else
    {
      $("#fullSwitch").addClass('success');
    }
      $("#fullSwitch").click(function()
      {
        full = $("#fullSwitch").data("full");
        data = {user:{full: !full}};
        $.ajax(
        {
          type: "PUT",
          url: "/users/#{shelter.id}",
          data: data,
          dataType: "json",
          success: function()
          {
            if ($("#fullSwitch").data('full'))
            {
              $("#fullSwitch").data('full', false);
              $("#fullSwitch").removeClass('alert');
              $("#fullSwitch").addClass('success');
              $("#fullSwitch").text('Available');
            }
            else
            {
              $("#fullSwitch").data('full', true);
              $("#fullSwitch").addClass('alert');
              $("#fullSwitch").removeClass('success');
              $("#fullSwitch").text('Full');
            }
          }
        });
      });
    });
