.shelter
  .row
    .large-4.columns
      .row
        %h3
          #{shelter.name}
          - if shelter.full
            .alert.full-label FULL
      .row Address: #{shelter.address}
      .row Phone: #{shelter.phone}
      .row Email: #{shelter.email}
      .row Size: #{shelter.size}
      .row
        .donate-button
          :plain
            <script async="async" src="/paypal-button.min.js?merchant=oneamtu89-facilitator@gmail.com"
              data-button="donate"
              data-name="Donation"
              data-env="sandbox"
          ></script>
    .large-5.columns.show-for-large-up
      %span.has-tip.tip-bottom.tip-top{class: "[tip-top tip-right] [radius round]", "data-options" => "disable_for_touch:true", "data-tooltip" => "", title: "#{shelter.current_interest_level_message}"}
        .interest_level{data: {interest_percentage: shelter.current_interest_level}}
    .large-3.columns.show-for-large-up
      %a{href: gmap_link(shelter.address)}
        %img{src: gmap(shelter.address)}


