.contain-to-grid
  %nav.top-bar{"data-topbar" => ""}
    %ul.title-area
      %li.name
        = link_to root_path do
          =fa_icon "home lg"
          =fa_icon "home lg"
          =fa_icon "home-o lg"
          =fa_icon "home lg"
          =fa_icon "home lg"
          =fa_icon "home lg"
      %li.toggle-topbar.menu-icon
        %a{href: "#"}
          %span Menu
    .top-bar-section
      %ul
        -if !(current_user && !devise_controller?)
          %li= link_to 'Register a shelter', new_user_registration_path
          %li= link_to '(857) 263-2905', about_index_path
          %li= link_to('Technologies', technologies_about_index_path)

      %ul.right
        - if user_signed_in?
          %li= link_to('Edit Account', edit_user_path(current_user))
          %li= link_to('Logout', destroy_user_session_path)
        - else
          %li= link_to('Login', new_user_session_path)
